{% extends "includes/base_generic.html" %} {% load render_table from django_tables2 %} {% load static %} {% block page_header %}
<!-- START PAGE HEADING -->
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="icon icon-lg"><span class="icon-laptop-phone"></span></div>
    <div class="title">
        <h1>Кредитный портфель</h1>
        <p>Асака банк</p>
    </div>
    <div class="heading-elements"></div>
</div>
<div class="app-heading-container app-heading-bordered bottom">
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li class="active">Кредитный портфель</li>
    </ul>
</div>
<!-- END PAGE HEADING -->
{% endblock %} {% block page_container %}
<!-- START PAGE SEPARATED CONTAINER -->
<div class="app-content-separate app-content-separated-left">
    <div class="app-content-separate-left" data-separate-control-height="true" style="height: 600px;">
        <div class="app-content-separate-panel padding-20 visible-mobile">
            <div class="pull-left">
                <h4 class="text-sm text-uppercase text-bolder margin-bottom-0">Visible On Mobile</h4>
                <p class="subheader">Use this panel to control this sidebar</p>
            </div><button class="btn btn-default btn-icon pull-right" data-separate-toggle-panel=".app-content-separate-left"><span class="icon-menu"></span></button></div>
        <div class="app-content-separate-content padding-20">

            <div class="input-group margin-bottom-20">
                <div class="input-group-addon">
                    <span class="fa fa-search"></span>
                </div>
                <input type="text" class="form-control" placeholder="Keyword...">
            </div>
            <div class="app-heading app-heading-small heading-transparent app-heading-condensed">
                <div class="title">
                    <p>Топ клиенты</p>
                </div>
            </div>
            <div class="list-group list-group-noborder">
                <a href="{% url 'portfolio' %}?q=npl" class="list-group-item active ">Топ 10 NPL клиенты</a>
                <a href="{% url 'portfolio' %}?q=toxic" class="list-group-item text-bold">Топ 10 токсичные кредиты</a>
                <a href="{% url 'portfolio' %}?q=prosr" class="list-group-item text-bold">Топ 10 просроченные кредиты</a>
            </div>
            <div class="app-heading app-heading-small heading-transparent app-heading-condensed">
                <div class="title">
                    <p>Кредитный портфель</p>
                </div>
            </div>
            <div class="list-group list-group-noborder">
                <a href="#" class="list-group-item text-bold">В разбивке по выдачам и погашению</a>
                <a href="#" class="list-group-item text-bold">Показатели доходности</a>
                <a href="#" class="list-group-item text-bold">В разбивке по срокам</a>
                <a href="#" class="list-group-item text-bold">В разбивке по субъектам</a>
                <a href="#" class="list-group-item text-bold">В разбивке по сегментам</a>
            </div>

        </div>
    </div>
    <div class="app-content-separate-content">
        <!-- CONTENT CONTAINER -->
        <div class="container">
            <div class="block">
                <div class="app-heading app-heading-small">
                    <div class="title">
                        <h2>{{page_title}}</h2>
                        <p>This container used as content container</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT CONTAINER -->
    </div>
</div>
<!-- END PAGE SEPARATED CONTAINER -->

{% endblock %}