{% extends "includes/base_generic.html" %}
{% load render_table from django_tables2 %}

{% block page_container %}
<!-- START PAGE CONTAINER -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- START LATEST TRANSACTIONS -->
            <div class="block block-condensed">
                <div class="app-heading">
                    <div class="title">
                        <h2>ТОП-10 заемщиков (NPL)</h2>
                        <p>Quick information</p>
                    </div>
                    <div class="heading-elements"><button class="btn btn-default btn-icon-fixed"><span
                                class="icon-file-add"></span> в Excel</button></div>
                </div>
                <div class="block-content">
                    {% render_table table %}
                </div>
            </div><!-- END LATEST TRANSACTIONS -->
        </div>
    </div>
</div><!-- END PAGE CONTAINER -->
{% endblock %}