{% extends "includes/base_generic.html" %}
{% load static %}

{% block page_header %}
<!-- START PAGE HEADING -->
<div class="app-heading-container app-heading-bordered bottom">
    <ul class="breadcrumb">
        <li><a href="/">Application</a></li>
        <li class="active">Test page</li>
    </ul>
</div><!-- END PAGE HEADING -->
{% endblock %}

{% block page_container %}
<!-- START PAGE CONTAINER -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- START LATEST TRANSACTIONS -->
            <div class="block block-condensed">
                <div class="app-heading">
                    <div class="title">
                        <h2>ТОП-10 заемщиков (NPL)</h2>
                        <p>Quick information</p>
                    </div>
                    <div class="heading-elements"><button class="btn btn-default btn-icon-fixed"><span
                                class="icon-file-add"></span> в Excel</button></div>
                </div>
                <div class="block-content">
                    
                        {{ mylist | safe }}
                    
                </div>
            </div><!-- END LATEST TRANSACTIONS -->
        </div>
    </div>
</div><!-- END PAGE CONTAINER -->
{% endblock %}