{% extends "includes/base.html" %}
{% load static %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block page_container %}
<div class="container-fluid">
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form id="formPreviewMonth" class="form-inline" action="{{ request.get_full_path }}" method="POST">
                        {% csrf_token %} 
                        <input name="data_month" onchange="myFunction()" type="month" class="form-control form-control-light" value="{{ data_month }}">
                        <button type="button" class="btn btn-light dropdown-toggle"  style = "margin-left: 5px;"  data-toggle="dropdown" aria-expanded="false"> Export<span class="caret"></span> </button>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="{% url 'export-all-tables' %}">Excel</a>
                            <a class="dropdown-item" href="{% url 'export_all_docx' %}">Word</a>
                        </div>
                    </form>
                </div>
                <h4 class="page-title text-uppercase">Кредитный портфель</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">

        <div class="col-xl-12 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    {% include "credits/navbar.html" %}
                    
                    <div class="page-aside-right" style="margin: -1.5rem 0 -1.5rem 300px;">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4 class="header-title" style="margin-top: 10px;">{{ page_title }}</h4>                    
                            </div>
                            <div class="col-lg-5">
                                <div class="right-tools">
                                    {% if npls_page or toxics_page or overdues_page %}
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Показать: {% if 'tp' in request.GET %} Топ {{request.GET.tp}} {% else %} Все {% endif %}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="{{ request.path }}?tp=10">Топ 10</a>
                                                <a class="dropdown-item" href="{{ request.path }}?tp=20">Топ 20</a>
                                                <a class="dropdown-item" href="{{ request.path }}?tp=50">Топ 50</a>
                                                <a class="dropdown-item" href="{{ request.path }}?tp=100">Топ 100</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{{ request.path }}">Все</a>
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    <a class="btn btn-outline-success mb-2" href="{% querystring '_export'='xlsx' %}">Скачать XLSX</a>
                                </div>
                                
                            </div><!-- end col-->
                        </div>
                        
                        {% render_table data_table %}
                    </div>
                </div> <!-- end card-body-->
            </div>

        </div>
    </div>

{% endblock %}

{% block myscripts %}
    <script src="{% static 'hyper/assets/js/vendor/jquery.dataTables.min.js' %}"></script>

    <script>

        $("#scroll-vertical-datatable").DataTable({
            searching: false,
            scrollY: "470px",
            scrollCollapse: !0,
            paging: !1,
            language: {
                paginate: {
                    previous: "<i class='mdi mdi-chevron-left'>",
                    next: "<i class='mdi mdi-chevron-right'>"
                }
            },
            drawCallback: function() {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
            }
        });

        function myFunction() {
            var x = document.getElementById("formPreviewMonth");
            x.submit()
        }
    </script>

{% endblock %}