<!-- START APP FOOTER -->
<div class="app-footer app-footer-default" id="footer">
    <div class="app-footer-line">
        <div class="copyright">© 2016-2017 Boooya. All right reserved in the Ukraine and other countries.</div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a href="http://boooya.aqvatarius.com/index.html#">About</a></li>
                <li><a href="http://boooya.aqvatarius.com/index.html#">Help</a></li>
                <li><a href="http://boooya.aqvatarius.com/index.html#">Community</a></li>
                <li><a href="http://boooya.aqvatarius.com/index.html#">Contacts</a></li>
            </ul>
        </div>
    </div>
</div><!-- END APP FOOTER -->