{% load static %}
<div class="left-side-menu mm-show">

    <!-- LOGO -->
    <a href="{% url 'index' %}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="{% static 'hyper/assets/images/logo.png'%}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'hyper/assets/images/logo_sm.png'%}" alt="" height="16">
        </span>
    </a>


    <div class="h-100 mm-active" id="left-side-menu-container" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <ul class="metismenu side-nav mm-show">

                                <li class="side-nav-title side-nav-item">Навигация</li>

                                <li class="side-nav-item">
                                    <a href="{% url 'index' %}" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Главная </span>
                                    </a>
                                </li>

                                <li class="side-nav-item">
                                    <a href="{% url 'clients-index' %}" class="side-nav-link">
                                        <i class="uil-users-alt"></i>
                                        <span> Клиенты </span>
                                    </a>
                                </li>

                                <li class="side-nav-item">
                                    <a href="#" class="side-nav-link">
                                        <i class="uil-search"></i>
                                        <span> Поиск клиента </span>
                                    </a>
                                </li>


                                <li class="side-nav-title side-nav-item">Отчёты</li>

                                <li class="side-nav-item">
                                    <a href="javascript: void(0);" class="side-nav-link" aria-expanded="true">
                                        <i class="uil-briefcase"></i>
                                        <span> Кредитный портфель </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="side-nav-second-level mm-collapse" aria-expanded="false" style="">
                                        <li>
                                            <a href="{% url 'overview' %}">Обзор</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'npl-list' %}">Детали</a>
                                        </li>
                                    </ul>
                                </li>

                                

                                <li class="side-nav-item">
                                    <a href="#" class="side-nav-link">
                                        <i class="uil-layer-group"></i>
                                        <span> Резервы </span>
                                    </a>
                                </li>

                            </ul>

                            <!-- End Sidebar -->

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1570px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar" style="height: 59px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
    <!-- Sidebar -left -->

</div>