<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left mCustomScrollbar _mCS_1 mCS-autoHide app-navigation-fixed-absolute" data-type="close-other" style="height: 1228px;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr"><a href="http://boooya.aqvatarius.com/index.html" class="app-navigation-logo active">Boooya - Revolution
                Admin Template <button class="app-navigation-logo-button mobile-hidden"
                    data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span> <span
                        class="app-navigation-logo-button-alert">7</span></button></a>
            <nav>
                <ul>
                    <li class="title">ДЕМОНСТРАЦИЯ</li>
                    <li class="openable open">
                        <a href="#"><span class="nav-icon-hexa">Об</span> Обзор</a>
                        <ul>
                            <li><a href="#" class="active"><span class="nav-icon-hexa">Пк</span> Показатели</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Дг</span> Диаграммы </a></li>
                        </ul>
                    </li>

                    <li class="title">ОТЧЁТЫ</li>
                    <li class="openable">
                        <a href="#"><span class="nav-icon-hexa">Кп</span> Кредитный портфель</a>
                        <ul>
                            <li><a href="{% url 'portfolio' %}"><span class="nav-icon-hexa">Выд</span> По выдачам и погашению</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Срк</span> По срокам</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Суб</span> По субъектам</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Сег</span> По сегментам    </a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Вал</span> По валютам</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Фил</span> По филиалам </a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Прц</span> По процентной ставке</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Сре</span> По средневзвешеннойпроцентной ставке</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Прд</span> По продуктам розничного бизнеса</a></li>
                            <li><a href="#"><span class="nav-icon-hexa">Пкз</span> Показатели доходности</a></li>
                        </ul>
                    </li>
                    <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                class="nav-icon-hexa">Vd</span> Резервы</a>
                        <ul>
                            <li><a href="http://boooya.aqvatarius.com/forms-valudation-engine.html"><span
                                        class="nav-icon-hexa">Ve</span> Validation Engine</a></li>
                            <li><a href="http://boooya.aqvatarius.com/forms-valudation-helpers.html"><span
                                        class="nav-icon-hexa">Mh</span> Masked Helpers</a></li>
                        </ul>
                    </li>
                    <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                class="nav-icon-hexa">Ma</span> Депозиты</a>
                        <ul>
                            <li><a href="http://boooya.aqvatarius.com/forms-wysiwyg-editors.html"><span
                                        class="nav-icon-hexa">We</span> WYSIWYG Editors</a></li>
                            <li><a href="http://boooya.aqvatarius.com/forms-code-preview.html"><span
                                        class="nav-icon-hexa">Cp</span> Code Preview</a></li>
                            <li><a href="http://boooya.aqvatarius.com/forms-wizard.html"><span
                                        class="nav-icon-hexa">Fw</span> Form Wizard</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
            <div class="mCSB_draggerContainer">
                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 1009px; top: 0px; display: block; max-height: 1218px;">
                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                </div>
                <div class="mCSB_draggerRail"></div>
            </div>
        </div>
    </div>
</div>
<!-- END SIDEBAR -->