<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left mCustomScrollbar _mCS_1 mCS-autoHide app-navigation-fixed-absolute"
data-type="close-other" style="height: 1228px;">
<div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
    tabindex="0">
    <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;"
        dir="ltr"><a href="http://boooya.aqvatarius.com/index.html"
            class="app-navigation-logo active">Boooya - Revolution Admin Template <button
                class="app-navigation-logo-button mobile-hidden"
                data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span> <span
                    class="app-navigation-logo-button-alert">7</span></button></a>
        <nav>
            <ul>
                <li class="title">ДЕМОНСТРАЦИЯ</li>
                <li class="openable open"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ds</span> Обзор<span
                            class="label label-success label-bordered label-ghost">new</span></a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/index.html" class="active"><span
                                    class="nav-icon-hexa">De</span> Показатели</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-dashboard-ecommerce.html"><span
                                    class="nav-icon-hexa">Ec</span> Диаграммы <span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                        </li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Pg</span> Отчёты <span
                            class="label label-success label-bordered label-ghost">new</span></a>
                    <ul>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Re</span> Кредитный портфель <span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                            <ul>
                                <li><a
                                        href="http://boooya.aqvatarius.com/pages-real-estate-search.html"><span
                                            class="nav-icon-hexa">Sr</span> Search Result</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-real-estate-map.html"><span
                                            class="nav-icon-hexa">Mp</span> Map</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Ba</span> Bank Application</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-main.html"><span
                                            class="nav-icon-hexa">Mn</span> Main</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-cards.html"><span
                                            class="nav-icon-hexa">Cs</span> My Cards</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-deposits.html"><span
                                            class="nav-icon-hexa">Dp</span> Deposits</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-activity.html"><span
                                            class="nav-icon-hexa">Ac</span> Activity</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-settings.html"><span
                                            class="nav-icon-hexa">St</span> Settings</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-bank-security.html"><span
                                            class="nav-icon-hexa">Sc</span> Security</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Cs</span> Call Service</a>
                            <ul>
                                <li><a
                                        href="http://boooya.aqvatarius.com/pages-call-service-daily.html"><span
                                            class="nav-icon-hexa">Ds</span> Daily Statistics</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/pages-call-service-process.html"><span
                                            class="nav-icon-hexa">Pw</span> Process Window</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Pt</span> Payment</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-payment-invoice.html"><span
                                            class="nav-icon-hexa">Pi</span> Invoice</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-payment-pricing.html"><span
                                            class="nav-icon-hexa">Pt</span> Pricing Tables</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Bp</span> Blog Pages</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-blog-main.html"><span
                                            class="nav-icon-hexa">Ma</span> Main (Variant 1)</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-blog-main-2.html"><span
                                            class="nav-icon-hexa">Mn</span> Main (Variant 2)</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-blog-category.html"><span
                                            class="nav-icon-hexa">Ct</span> Category (Right Sidebar)</a>
                                </li>
                                <li><a href="http://boooya.aqvatarius.com/pages-blog-category-2.html"><span
                                            class="nav-icon-hexa">Cr</span> Category (Left Sidebar)</a>
                                </li>
                                <li><a href="http://boooya.aqvatarius.com/pages-blog-single.html"><span
                                            class="nav-icon-hexa">Sn</span> Single</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Pf</span> User Profiles</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-profile-social.html"><span
                                            class="nav-icon-hexa">Sp</span> Social Profile</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-profile-card.html"><span
                                            class="nav-icon-hexa">Pc</span> Profile Card</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Em</span> Email</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-email-inbox.html"><span
                                            class="nav-icon-hexa">Ib</span> Inbox</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-email-message.html"><span
                                            class="nav-icon-hexa">Ms</span> Message</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-email-compose.html"><span
                                            class="nav-icon-hexa">Cp</span> Compose</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-email-templates.html"><span
                                            class="nav-icon-hexa">Tp</span> Templates</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Ms</span> Messages</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-messages-chat.html"><span
                                            class="nav-icon-hexa">Ct</span> Chat</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-messages-list.html"><span
                                            class="nav-icon-hexa">Ml</span> Messages List</a></li>
                            </ul>
                        </li>
                        <li><a href="http://boooya.aqvatarius.com/pages-faq.html"><span
                                    class="nav-icon-hexa">Fq</span> FAQ</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-gallery.html"><span
                                    class="nav-icon-hexa">Ga</span> Gallery</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-search.html"><span
                                    class="nav-icon-hexa">Sr</span> Search Result</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-contact-us.html"><span
                                    class="nav-icon-hexa">Cu</span> Contact Us<span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                        </li>
                        <li><a href="http://boooya.aqvatarius.com/pages-contact-list.html"><span
                                    class="nav-icon-hexa">Cl</span> Contact List</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-calendar.html"><span
                                    class="nav-icon-hexa">Cr</span> Calendar</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-404.html"><span
                                    class="nav-icon-hexa">Er</span> Error 404</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-help.html"><span
                                    class="nav-icon-hexa">Hp</span> Help</a></li>
                        <li><a href="http://boooya.aqvatarius.com/pages-lock-screen.html"><span
                                    class="nav-icon-hexa">Ls</span> Lock Screen</a></li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Si</span> Log In / Sign In</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/pages-login.html"><span
                                            class="nav-icon-hexa">Li</span> Log In</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-login-bg.html"><span
                                            class="nav-icon-hexa">Lb</span> Log In (Background)</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-signin.html"><span
                                            class="nav-icon-hexa">Si</span> Sign In</a></li>
                                <li><a href="http://boooya.aqvatarius.com/pages-signin-bg.html"><span
                                            class="nav-icon-hexa">Sb</span> Sign In (Background)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="title">FORMS</li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Fe</span> Кредитный портфель</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-basic.html"><span
                                    class="nav-icon-hexa">Be</span> Basic Elements</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-checkbox-radio.html"><span
                                    class="nav-icon-hexa">Cr</span> Checkbox, Radio &amp; Switch</a>
                        </li>
                        <li><a
                                href="http://boooya.aqvatarius.com/forms-elements-select-datepicker.html"><span
                                    class="nav-icon-hexa">Sd</span> Select &amp; Datepicker</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-range-slider.html"><span
                                    class="nav-icon-hexa">Rs</span> Range Slider</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-editable.html"><span
                                    class="nav-icon-hexa">Ed</span> Form Editable</a></li>
                        <li><a
                                href="http://boooya.aqvatarius.com/forms-elements-valudation-states.html"><span
                                    class="nav-icon-hexa">Vs</span> Validation States</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-input-groups.html"><span
                                    class="nav-icon-hexa">Ig</span> Input Group</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-file-handling.html"><span
                                    class="nav-icon-hexa">Fh</span> File Handling</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-elements-other.html"><span
                                    class="nav-icon-hexa">Ot</span> Other</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Vd</span> Резервы</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/forms-valudation-engine.html"><span
                                    class="nav-icon-hexa">Ve</span> Validation Engine</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-valudation-helpers.html"><span
                                    class="nav-icon-hexa">Mh</span> Masked Helpers</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ma</span> Депозиты</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/forms-wysiwyg-editors.html"><span
                                    class="nav-icon-hexa">We</span> WYSIWYG Editors</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-code-preview.html"><span
                                    class="nav-icon-hexa">Cp</span> Code Preview</a></li>
                        <li><a href="http://boooya.aqvatarius.com/forms-wizard.html"><span
                                    class="nav-icon-hexa">Fw</span> Form Wizard</a></li>
                    </ul>
                </li>
                <li class="title">COMPONENTS</li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ue</span> UI Elements<span
                            class="label label-success label-bordered label-ghost">new</span></a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-blocks-panels.html"><span
                                    class="nav-icon-hexa">Bp</span> Blocks &amp; Panles</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-widgets.html"><span
                                    class="nav-icon-hexa">Wi</span> Widgets &amp; Informers</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-tabs-accordion.html"><span
                                    class="nav-icon-hexa">Ta</span> Tabs &amp; Accordions</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-alerts-notifications.html"><span
                                    class="nav-icon-hexa">An</span> Alerts &amp; Notifications</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-modals-popups.html"><span
                                    class="nav-icon-hexa">Mp</span> Modals &amp; Popups</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-dropdowns.html"><span
                                    class="nav-icon-hexa">Dd</span> Dropdowns</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-buttons.html"><span
                                    class="nav-icon-hexa">Bt</span> Buttons</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-progressbar.html"><span
                                    class="nav-icon-hexa">Pb</span> Progress Bars</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-pagination.html"><span
                                    class="nav-icon-hexa">Pt</span> Pagination</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-spinners.html"><span
                                    class="nav-icon-hexa">Sp</span> Spinners</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-tour.html"><span
                                    class="nav-icon-hexa">To</span> Tour</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-timeline.html"><span
                                    class="nav-icon-hexa">To</span> Timeline <span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                        </li>
                        <li><a href="http://boooya.aqvatarius.com/components-help-classes.html"><span
                                    class="nav-icon-hexa">Hc</span> Help Classes</a></li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Lt</span> Lists</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/components-lists.html"><span
                                            class="nav-icon-hexa">Bl</span> Basic Lists</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/components-user-contacts.html"><span
                                            class="nav-icon-hexa">Uc</span> User &amp; Contacts</a></li>
                                <li><a href="http://boooya.aqvatarius.com/components-tiles.html"><span
                                            class="nav-icon-hexa">Te</span> Tiles</a></li>
                                <li><a href="http://boooya.aqvatarius.com/components-news-info.html"><span
                                            class="nav-icon-hexa">Ni</span> News &amp; Info</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Tg</span> Typography</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/components-typography.html"><span
                                            class="nav-icon-hexa">Tp</span> Typography</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/components-labels-badges.html"><span
                                            class="nav-icon-hexa">Lb</span> Labels &amp; Badges</a></li>
                                <li><a href="http://boooya.aqvatarius.com/components-text-heading.html"><span
                                            class="nav-icon-hexa">Th</span> Text Heading</a></li>
                                <li><a href="http://boooya.aqvatarius.com/components-heading.html"><span
                                            class="nav-icon-hexa">Pb</span> Page &amp; Block Heading</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Fe</span> Features</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-features-gallery.html"><span
                                    class="nav-icon-hexa">Cg</span> Compact Gallery</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-features-tips.html"><span
                                    class="nav-icon-hexa">Tp</span> Tips</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-features-loading.html"><span
                                    class="nav-icon-hexa">Ld</span> Loading</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-features-statusbar.html"><span
                                    class="nav-icon-hexa">Sb</span> Status Bar</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-features-preview.html"><span
                                    class="nav-icon-hexa">Pv</span> Preview</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ic</span> Icons</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-icons-fontawesome.html"><span
                                    class="nav-icon-hexa">Fa</span> Font Awesome</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-icons-linearicons.html"><span
                                    class="nav-icon-hexa">Li</span> Linearicons</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Tb</span> Tables</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-tables-default.html"><span
                                    class="nav-icon-hexa">Df</span> Default</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-tables-sortable.html"><span
                                    class="nav-icon-hexa">Sa</span> Sortable</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-tables-export.html"><span
                                    class="nav-icon-hexa">Et</span> Export Tables</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ch</span> Charts</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-charts-chartjs.html"><span
                                    class="nav-icon-hexa">Cj</span> Chart.js</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-charts-morris.html"><span
                                    class="nav-icon-hexa">Mc</span> Morris Charts</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-charts-rickshaw.html"><span
                                    class="nav-icon-hexa">Rc</span> Rickshaw Charts</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-charts-other.html"><span
                                    class="nav-icon-hexa">Ot</span> Other</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Mp</span> Maps</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/components-maps-jvectormap.html"><span
                                    class="nav-icon-hexa">Jm</span> jVectorMap</a></li>
                        <li><a href="http://boooya.aqvatarius.com/components-maps-google.html"><span
                                    class="nav-icon-hexa">Gm</span> Google Maps</a></li>
                    </ul>
                </li>
                <li class="title">LAYOUTS COMPONENTS AND OPTIONS</li>
                <li><a href="http://boooya.aqvatarius.com/layouts-examples.html"><span
                            class="nav-icon-hexa">Al</span> App Layouts<span
                            class="label label-success label-bordered label-ghost">new</span></a></li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Lc</span> Layout Components <span
                            class="label label-success label-bordered label-ghost">new</span></a>
                    <ul>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Hd</span> Headers</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-header.html"><span
                                            class="nav-icon-hexa">Sm</span> Simple</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-header-inside.html"><span
                                            class="nav-icon-hexa">Ic</span> Insde Content</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-header-fixed.html"><span
                                            class="nav-icon-hexa">Fh</span> Fixed Header</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-header-title.html"><span
                                            class="nav-icon-hexa">Wt</span> With Title</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-header-navigation.html"><span
                                            class="nav-icon-hexa">Sn</span> Simple Navigation</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-header-navigation-custom.html"><span
                                            class="nav-icon-hexa">Sh</span> Simple Navigation (Hover
                                        Item)</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-header-navigation-extended.html"><span
                                            class="nav-icon-hexa">En</span> Extended Navigation</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Sb</span> Sidebars</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-sidebar-left.html"><span
                                            class="nav-icon-hexa">Ls</span> Left Sidebar</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-sidebar-right.html"><span
                                            class="nav-icon-hexa">Rs</span> Right Sidebar</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-sidebar-left-right.html"><span
                                            class="nav-icon-hexa">Lr</span> Left &amp; Right Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Nv</span> Navigation<span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                            <ul>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-default.html"><span
                                            class="nav-icon-hexa">Df</span> Default</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-default-fixed.html"><span
                                            class="nav-icon-hexa">Fx</span> Default Fixed</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-close-other.html"><span
                                            class="nav-icon-hexa">Co</span> Close Other</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-hidden.html"><span
                                            class="nav-icon-hexa">Hd</span> Hidden</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-minimized.html"><span
                                            class="nav-icon-hexa">Mz</span> Minimized</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-open-hover.html"><span
                                            class="nav-icon-hexa">Oh</span> Open On Hover</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-custom.html"><span
                                            class="nav-icon-hexa">Cd</span> Custom Design <span
                                            class="label label-success label-bordered label-ghost">new</span></a>
                                </li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-light.html"><span
                                            class="nav-icon-hexa">Ls</span> Light Style</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-navigation-mobile.html"><span
                                            class="nav-icon-hexa">Ms</span> Mobile Style (Simple)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Cn</span> Content<span
                                    class="label label-success label-bordered label-ghost">new</span></a>
                            <ul>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-content-resizable.html"><span
                                            class="nav-icon-hexa">Rz</span> Resizable</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-content-tabbed.html"><span
                                            class="nav-icon-hexa">Tb</span> Tabbed Content</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-content-tabbed-controls.html"><span
                                            class="nav-icon-hexa">Tc</span> Tabbed Content
                                        (Controls)</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-content-separated.html"><span
                                            class="nav-icon-hexa">Sc</span> Separated Content</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-content-wrapped.html"><span
                                            class="nav-icon-hexa">Wc</span> Wrapped Content <span
                                            class="label label-success label-bordered label-ghost">new</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Sp</span> Sidepanels</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-sidepanel.html"><span
                                            class="nav-icon-hexa">Df</span> Default</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-sidepanel-overlay.html"><span
                                            class="nav-icon-hexa">Wo</span> With Overlay</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Fo</span> Footers</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-footer-default.html"><span
                                            class="nav-icon-hexa">Sm</span> Simple</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-footer-extended.html"><span
                                            class="nav-icon-hexa">Et</span> Extended</a></li>
                                <li><a href="http://boooya.aqvatarius.com/layouts-footer-custom.html"><span
                                            class="nav-icon-hexa">Cd</span> Custom Design</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Lo</span> Layout Options</a>
                    <ul>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Ln</span> Left Navigation</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-option-basic.html"><span
                                            class="nav-icon-hexa">Bs</span> Basic</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-basic-header.html"><span
                                            class="nav-icon-hexa">Wh</span> With Header</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-basic-footer.html"><span
                                            class="nav-icon-hexa">Wf</span> With Footer</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-basic-header-footer.html"><span
                                            class="nav-icon-hexa">Hf</span> Header &amp; Footer</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Tn</span> Top Navigation</a>
                            <ul>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-topnav-header.html"><span
                                            class="nav-icon-hexa">Hn</span> Header Navigation</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-topnav-horizontal.html"><span
                                            class="nav-icon-hexa">Hz</span> Horizontal Navigation</a>
                                </li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-topnav-horizontal-boxed.html"><span
                                            class="nav-icon-hexa">Hb</span> Horizontal Navigation
                                        (Boxed)</a></li>
                            </ul>
                        </li>
                        <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Bx</span> Boxed</a>
                            <ul>
                                <li><a href="http://boooya.aqvatarius.com/layouts-option-boxed.html"><span
                                            class="nav-icon-hexa">Bs</span> Basic</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-boxed-custom.html"><span
                                            class="nav-icon-hexa">Wm</span> With Margin</a></li>
                                <li><a
                                        href="http://boooya.aqvatarius.com/layouts-option-boxed-content.html"><span
                                            class="nav-icon-hexa">Bc</span> Boxed Content</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="title">Other</li>
                <li><a href="http://boooya.aqvatarius.com/landing-page.html" target="_blank"><span
                            class="nav-icon-hexa">Lp</span> Landing Page</a></li>
                <li><a href="http://boooya.aqvatarius.com/documentation.html"><span
                            class="nav-icon-hexa">Dc</span> Documentation</a></li>
                <li><a href="http://boooya.aqvatarius.com/rtl.html"><span
                            class="nav-icon-hexa">Rs</span> RTL Support</a></li>
                <li class="title">Navigation Examples</li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">Ic</span> Nav Element Icons</a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Hw</span> Hexagon With Text</a></li>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-cube">Cb</span> Cube With Text</a></li>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-circle">Ct</span> Circle With Text</a></li>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="icon-laptop-phone"></span> Linearicon icon</a></li>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="fa fa-cog"></span> FontAwesome icon</a></li>
                    </ul>
                </li>
                <li class="openable"><a href="http://boooya.aqvatarius.com/index.html#"><span
                            class="nav-icon-hexa">El</span> Element With Label <span
                            class="label label-warning label-bordered label-ghost">label</span></a>
                    <ul>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">Dl</span> Default Label <span
                                    class="label label-default">38</span></a></li>
                        <li><a href="http://boooya.aqvatarius.com/index.html#"><span
                                    class="nav-icon-hexa">La</span> Label With Animation <span
                                    class="label label-warning animated infinite rubberBand">hey!</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="mCSB_1_scrollbar_vertical"
        class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
        style="display: block;">
        <div class="mCSB_draggerContainer">
            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                style="position: absolute; min-height: 30px; height: 1009px; top: 0px; display: block; max-height: 1218px;">
                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
            </div>
            <div class="mCSB_draggerRail"></div>
        </div>
    </div>
</div>
</div><!-- END SIDEBAR -->