{% extends "includes/base.html" %} 
{% load static %}

{% block page_header %}

{% endblock %} 

{% block page_container %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title">Клиенты</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-lg-8">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <label for="inputPassword2" class="sr-only">Search</label>
                                    <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="status-select" class="mr-2">Status</label>
                                    <select class="custom-select" id="status-select">
                                        <option selected="">Choose...</option>
                                        <option value="1">Paid</option>
                                        <option value="2">Awaiting Authorization</option>
                                        <option value="3">Payment failed</option>
                                        <option value="4">Cash On Delivery</option>
                                        <option value="5">Fulfilled</option>
                                        <option value="6">Unfulfilled</option>
                                    </select>
                                </div>
                            </form>                            
                        </div>
                        <div class="col-lg-4">
                            <div class="text-lg-right">
                                <button type="button" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i> Add New Order</button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Date of Birth</th>
                                    <th>Active?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risa D. Pearson</td>
                                    <td>336-508-2157</td>
                                    <td>July 24, 1950</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch21" checked data-switch="success"/>
                                            <label for="switch21" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ann C. Thompson</td>
                                    <td>646-473-2057</td>
                                    <td>January 25, 1959</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch22" checked data-switch="success"/>
                                            <label for="switch22" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul J. Friend</td>
                                    <td>281-308-0793</td>
                                    <td>September 1, 1939</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch23" data-switch="success"/>
                                            <label for="switch23" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ann C. Thompson</td>
                                    <td>646-473-2057</td>
                                    <td>January 25, 1959</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch22" checked data-switch="success"/>
                                            <label for="switch22" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul J. Friend</td>
                                    <td>281-308-0793</td>
                                    <td>September 1, 1939</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch23" data-switch="success"/>
                                            <label for="switch23" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ann C. Thompson</td>
                                    <td>646-473-2057</td>
                                    <td>January 25, 1959</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch22" checked data-switch="success"/>
                                            <label for="switch22" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul J. Friend</td>
                                    <td>281-308-0793</td>
                                    <td>September 1, 1939</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch23" data-switch="success"/>
                                            <label for="switch23" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ann C. Thompson</td>
                                    <td>646-473-2057</td>
                                    <td>January 25, 1959</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch22" checked data-switch="success"/>
                                            <label for="switch22" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul J. Friend</td>
                                    <td>281-308-0793</td>
                                    <td>September 1, 1939</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch23" data-switch="success"/>
                                            <label for="switch23" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Linda G. Smith</td>
                                    <td>606-253-1207</td>
                                    <td>May 3, 1962</td>
                                    <td>
                                        <!-- Switch-->
                                        <div>
                                            <input type="checkbox" id="switch24" data-switch="success"/>
                                            <label for="switch24" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
   
</div>
{% endblock %}

{% block myscripts %}
<script>
    
</script>

{% endblock %}