{% extends "includes/base.html" %} 
{% load static %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block page_header %}

{% endblock %} 

{% block page_container %}
<style>
   .panel-default {
    border-color: #ECECEC;
}
.panel {
    border-radius: 0px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
    }
h4 {
    padding-top: 10px;
}
.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}
#easypiechart-red .percent {
    color: #ef4040;
}
.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;}
    
</style>
<div class="container-fluid">
                        
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <!-- text -->
                </div>
                <h4 class="page-title">Профиль клиента</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 


    <div class="row">
        <div class="col-sm-12">
            <!-- Profile -->
            <div class="card bg-primary">
                <div class="card-body profile-user-box">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="media">
                                <span class="float-left m-2 mr-4"><img src="{% static 'hyper/assets/images/user/avatar-2.jpg' %}" style="height: 100px;" alt="" class="rounded-circle img-thumbnail"></span>
                                <div class="media-body">

                                    <h4 class="mt-1 mb-1 text-white">{{client.ClientName}}</h4>
                                    <p class="font-13 text-white-50"> {{client.ClientType}}</p>

                                    <ul class="mb-0 list-inline text-light">
                                        <li class="list-inline-item mr-3">
                                            <h5 class="mb-1">{{client.TotalLoans}} UZS</h5>
                                            <p class="mb-0 font-13 text-white-50">Всего задолженность</p>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="mb-1">{{client.CountLoans}}</h5>
                                            <p class="mb-0 font-13 text-white-50">Количество кредитов</p>
                                        </li>
                                    </ul>
                                </div> <!-- end media-body-->
                            </div>
                        </div> <!-- end col-->

                        <div class="col-sm-4">
                            <div class="text-center mt-sm-0 mt-3 text-sm-right">
                                <button type="button" class="btn btn-light">
                                    <i class="mdi mdi-account-edit mr-1"></i> Редактировать
                                </button>
                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row -->

                </div> <!-- end card-body/ profile-user-box-->
            </div><!--end profile/ card -->
        </div> <!-- end col-->
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-lg-4">
            <!-- Personal-Information -->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-3">Информация о клиенте</h4>

                    <hr>

                    <div class="text-left">
                        <p class="text-muted"><strong>Наименование :</strong> <span class="ml-2">{{client.ClientName}}</span></p>
                        
                        <p class="text-muted"><strong>Мобил :</strong><span class="ml-2">{{client.Phone}}</span></p>
                        
                        <p class="text-muted"><strong>Почта :</strong> <span class="ml-2">coderthemes@gmail.com</span></p>

                        <p class="text-muted"><strong>Адрес :</strong> <span class="ml-2">{{client.Address}}</span></p>

                    </div>
                </div>
            </div>
            <!-- Personal-Information -->

            <!-- Toll free number box-->
            <div class="card text-white bg-info overflow-hidden">
                <div class="card-body">
                    <div class="toll-free-box text-center">
                        <h4> <i class="mdi mdi-deskphone"></i> Toll Free : 1-234-567-8901</h4>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
            <!-- End Toll free number box-->

            <!-- Messages-->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Заметки</h4>

                    <div class="inbox-widget">
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{% static 'hyper/assets/images/user/avatar-2.jpg' %}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">Tomaslau</p>
                            <p class="inbox-item-text">I've finished it! See you so...</p>
                            <p class="inbox-item-date">
                                <a href="#" class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{% static 'hyper/assets/images/user/avatar-4.jpg' %}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">Stillnotdavid</p>
                            <p class="inbox-item-text">This theme is awesome!</p>
                            <p class="inbox-item-date">
                                <a href="#" class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{% static 'hyper/assets/images/user/avatar-5.jpg' %}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">Kurafire</p>
                            <p class="inbox-item-text">Nice to meet you</p>
                            <p class="inbox-item-date">
                                <a href="#" class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>

                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{% static 'hyper/assets/images/user/avatar-1.jpg' %}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">Shahedk</p>
                            <p class="inbox-item-text">Hey! there I'm available...</p>
                            <p class="inbox-item-date">
                                <a href="#" class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{% static 'hyper/assets/images/user/avatar-2.jpg' %}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">Adhamdannaway</p>
                            <p class="inbox-item-text">This theme is awesome!</p>
                            <p class="inbox-item-date">
                                <a href="#" class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>
                    </div> <!-- end inbox-widget -->
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col-->

        <div class="col-lg-8">

            <!-- Chart-->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Orders &amp; Revenue</h4>
                    <div style="height: 260px;" class="chartjs-chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="high-performing-product" width="1007.33" height="260" style="display: block; width: 1007px; height: 260px;" class="chartjs-render-monitor"></canvas>
                    </div>        
                </div>
            </div>
            <!-- End Chart-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class="dripicons-basket float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Orders</h6>
                            <h2 class="m-b-20">1,587</h2>
                            <span class="badge badge-primary"> +11% </span> <span class="text-muted">From previous period</span>
                        </div> <!-- end card-body-->
                    </div> <!--end card-->
                </div><!-- end col -->

                <div class="col-sm-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class="dripicons-box float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Revenue</h6>
                            <h2 class="m-b-20">$<span>46,782</span></h2>
                            <span class="badge badge-danger"> -29% </span> <span class="text-muted">From previous period</span>
                        </div> <!-- end card-body-->
                    </div> <!--end card-->
                </div><!-- end col -->

                <div class="col-sm-4">
                    <div class="card tilebox-one">
                        <div class="card-body">
                            <i class="dripicons-jewel float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Product Sold</h6>
                            <h2 class="m-b-20">1,890</h2>
                            <span class="badge badge-primary"> +89% </span> <span class="text-muted">Last year</span>
                        </div> <!-- end card-body-->
                    </div> <!--end card-->
                </div><!-- end col -->

            </div>
            <!-- end row -->


            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">My Products</h4>

                    <div class="table-responsive">
                        <table class="table table-hover table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ASOS Ridley High Waist</td>
                                    <td>$79.49</td>
                                    <td><span class="badge badge-primary">82 Pcs</span></td>
                                    <td>$6,518.18</td>
                                </tr>
                                <tr>
                                    <td>Marco Lightweight Shirt</td>
                                    <td>$128.50</td>
                                    <td><span class="badge badge-primary">37 Pcs</span></td>
                                    <td>$4,754.50</td>
                                </tr>
                                <tr>
                                    <td>Half Sleeve Shirt</td>
                                    <td>$39.99</td>
                                    <td><span class="badge badge-primary">64 Pcs</span></td>
                                    <td>$2,559.36</td>
                                </tr>
                                <tr>
                                    <td>Lightweight Jacket</td>
                                    <td>$20.00</td>
                                    <td><span class="badge badge-primary">184 Pcs</span></td>
                                    <td>$3,680.00</td>
                                </tr>
                                <tr>
                                    <td>Marco Shoes</td>
                                    <td>$28.49</td>
                                    <td><span class="badge badge-primary">69 Pcs</span></td>
                                    <td>$1,965.81</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table responsive-->
                </div> <!-- end col-->
            </div> <!-- end row-->

        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
    
</div>
{% endblock %}

{% block myscripts %}
<script type="text/javascript" src="{% static 'hyper/assets/js/vendor/Chart.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hyper/assets/js/pages/clients.view.js' %}"></script>
<script>
    $(document).ready(function(){
        
    })
</script>

{% endblock %}